*,::before, ::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border:none;
}
#red{
    background-color: red;
    color:white;
    padding :15px;
}
#blue{
    background-color: blue;
    color:white;
    padding :15px;
}
#green{
    background-color: green;
    color:white;
    padding :15px;
}